{% extends "base.html" %}
{% load static %}
{% block title %} Контакты {% endblock title %}
{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Контакты</h2>
                        <div class="page_link">
                            <a href="/">Главная</a>
                            <a href="{% url 'contact' %}">Контакты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/org/bishkekskiy_tekhnicheskiy_kolledzh/75764662752/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Бишкекский технический колледж</a><a
                href="https://yandex.ru/maps/10309/bishkek/category/college/184106236/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Колледж в Бишкеке</a>
            <iframe src="https://yandex.ru/map-widget/v1/-/CCU5QSR2SC" width="100%" height="400" frameborder="1"
                    allowfullscreen="true" style="position:relative;"></iframe>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="ti-home"></i>
                        <h6>БТК</h6>
                        <p>Чуй 215</p>
                    </div>
                    <div class="info_item">
                        <i class="ti-headphone"></i>
                        <h6><a href="#">00 (440) 9865 562</a></h6>
                        <p>пн-пт с 9:00 до 18:00</p>
                    </div>
                    <div class="info_item">
                        <i class="ti-email"></i>
                        <h6><a href="#">bib@gmail.com</a></h6>
                        <p>Отправьте нам свой запрос в любое время!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                    	<div class="col-lg-6 col-12 form-group">{{ form.full_name }}</div>
                    	<div class="col-lg-6 col-12 form-group">{{ form.email }}</div>
                    	<div class="col-12 form-group">{{ form.subject }}</div>
                    	<div class="col-12 form-group">{{ form.messages }}</div>
                    <div class="col-md-12 text-center">
                        {% csrf_token %}
                        <button type="submit" value="submit" class="btn primary-btn">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->
{% endblock content %}
