{% extends "base.html" %}
{% load static %}
{% block title %} {{ object.title }} {% endblock title %}
{% block content %}
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 course_details_left">
                <div class="main_image">
                    <img class="img-fluid" src="{{ object.img.url }}" width="500" alt="">
                </div>
                <div class="content_wrapper">
                    <h4 class="title">{{ object.title }}</h4>
                </div>
            </div>
            <div class="col-lg-6 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Автор</p>
                            {% for author_ in object.author.all %}
                            <span class="or">{{ author_.name }}</span>
                            {% endfor %}
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Иллюстратор</p>
                            <span>{{ object.illustrator }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Перевод и адаптация</p>
                            <span>{{ object.translation }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Язык</p>
                            <span>{{ object.language_v }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Дата</p>
                            <span>{{ object.create_at }}</span>
                        </a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <a href="{{ object.url }}" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Читать</a>
                {% else %}
                    <a href="{% url 'register' %}" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Регистрация</a>
                    <p class="text-center mt-3">Для чтения книги необходимо зарегистрироваться</p>
                {% endif %}
            </div>
        </div>
        <div class="content_book">
            <div class="content" style="text-align: justify;">
                {{ object.description }}
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="row comment_block">
            <form class="col-lg-6 col-12 comment_form mt-4" action="{% url 'create_comment' %}" method="post"
                  id="commentForm" novalidate="novalidate">
                <div class="col-md-12 row">
                    <div class="col-6 form-group">
                        {{ form.name }}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.email }}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.messages }}
                    </div>
                    <div class="col-md-12 text-center">
                        <input type="hidden" name="book" id="book_id" value="{{ object.id }}">
                        {% csrf_token %}
                        <button type="submit" value="submit" class="btn primary-btn">
                            Отправить
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-lg-6 col-12 mt-4">
                {% for item in comments %}
                    <p>Имя: {{ item.name }}</p>
                    <p>E-mail: {{ item.email }}</p>
                    <p>Коментарии: {{ item.messages }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}
<!--================ End Course Details Area =================-->
{% endblock content %}
