{% extends "base.html" %}
{% load static %}
{% block content %}
	<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2 class="text-uppercase mt-4 mb-5">
                            Электронная библиотека
                        </h2>
                        <p class="text-uppercase">
                            «Открытая библиотека» – это место, где можно найти множество материалов, распространяемых
                            под открытой лицензией, которая даёт право не только на свободное использование, но и на
                            изменение и переработку этих материалов. На сайте Вы найдете школьные учебники, редкие книги
                            из библиотечных архивов, диссертации. Все материалы доступны в электроном виде для
                            скачивания.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Popular Courses Area =================-->
<div class="team">
    <div class="team_background parallax-window" data-parallax="scroll"
         data-image-src="{% static 'img/team_background.jpg' %}"
         data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Книги</h2>
                </div>
            </div>
        </div>
        <div class="row team_row">
            <!-- Team Item -->
            {% for object in object_list %}
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="{{ object.img.url }}" alt=""></div>
                    <div class="team_body">
                        <div class="team_title"><a href="{% url 'detail' pk=object.pk %}">{{ object.title }}</a></div>
                        {% for author_ in object.author.all %}
                            <div class="team_subtitle">{{ author_.name }}</div>
                        {% endfor %}
                        <div class="social_list">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--================ End Popular Courses Area =================-->

<!--================ Start Events Area =================-->
<div class="events_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3 text-white">Новые книги</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="{% static 'img/event/e1.jpg' %}" alt=""/>
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>15</span> Jun</div>

                            <div class="time-location">
                                <p>
                                    <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                                </p>
                                <p>
                                    <span class="ti-location-pin mr-2"></span> Hilton Quebec
                                </p>
                            </div>
                        </div>
                        <p>
                            One make creepeth man for so bearing their firmament won't
                            fowl meat over seas great
                        </p>
                        <a href="#" class="primary-btn rounded-0 mt-3">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="{% static 'img/event/e2.jpg' %}" alt=""/>
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>15</span> Jun</div>

                            <div class="time-location">
                                <p>
                                    <span class="ti-time mr-2"></span> 12:00 AM - 12:30 AM
                                </p>
                                <p>
                                    <span class="ti-location-pin mr-2"></span> Hilton Quebec
                                </p>
                            </div>
                        </div>
                        <p>
                            One make creepeth man for so bearing their firmament won't
                            fowl meat over seas great
                        </p>
                        <a href="#" class="primary-btn rounded-0 mt-3">View Details</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="text-center pt-lg-5 pt-3">
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Events Area =================-->
{% endblock content %}
