{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="banner_content text-center">
                        <h2 class="text-uppercase mt-4 mb-5">Войти</h2>
                       <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="primary-btn2 btn-block mt-5">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}