<!DOCTYPE html>
{% url 'home' as home %}
{% url 'about' as about %}
{% url 'contact' as contact %}
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}"/>
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <div class="search_input" id="search_input_box">
            <div class="container">
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html"
                > <span class="backdrop">Bib.kg</span> </a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                        class="collapse navbar-collapse offset"
                        id="navbarSupportedContent"
                >
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item {% if request.path == home %} active {% endif %}">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item {% if request.path == about %} active {% endif %}">
                            <a class="nav-link" href="{% url 'about' %}">О нас</a>
                        </li>
                        <li class="nav-item {% if request.path == contact %} active {% endif %}">
                            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Events Area =================-->
{% block content %}

{% endblock content %}
<!--================ Start footer Area  =================-->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 single-footer-widget">
                <h4>Открытая Электронная Библиотека Кыргызстана</h4>
                <p>Bib.kg является открытой, редактируемой электронной библиотекой, созданной с целью объединения и
                    популяризации идеи открытых учебных и прочих материалов. Так же как и в Википедии, Вы можете
                    способствовать развитию нашей идеи и добавлять новые книги, новую информацию или отправлять свои
                    идеи по улучшению библиотеки и её сервисов. Если Вы любите книги, Вы автор или издательство, почему
                    бы не помочь построить библиотеку доступную для всех с открытыми материалами</p>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                        Связаться с нами
                        г. Бишкек,
                        ул. Чуй, 215
                        Телефон: +996(312) 00-00-00
                        Электронная почта: bib@gmail.com
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between text-center">
            <p class="col-lg-12 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Бишкек &copy;<script>document.write(new Date().getFullYear());</script>
                Электронная Библиотека | Бишкекский Технический колледж <i class="ti-heart"
                                                                           aria-hidden="true"></i><a
                    href="https://colorlib.com" target="_blank"></a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'js/gmaps.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
